$color_main: #203044;
$color_text: rgb(255, 255, 255);
$color_content: #f7f7f7;
$color_yellow: #f1de0e;
$color_green: #0ef2a2;
$color_darkgreen: #063d08;

$font_sans: 'Raptor', 'Arial', 'Helvetica', sans-serif;
$font_serif: 'Georgia', 'Times New Roman', 'Times CY', 'Century Schoolbook L', serif;

$content_margin: 15px;